<a href="https://colab.research.google.com/github/Ya227/-python/blob/main/%D0%9A%D0%B0%D1%80%D0%B0%D1%81%D1%91%D0%B2%D0%B0_%D0%AF%D0%BD%D0%B0_3%D0%B4%D0%B7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary

Подсчет частоты слов: Напишите функцию, которая принимает строку и возвращает словарь, где ключи — это слова, а значения — их частота в строке.

In [ ]:
def f(str):
    dic = {}
    mas = str.split(' ')
    mas2 = set(mas)
    for el in mas2:
        c = mas.count(el)
        dic[el] = c
    return dic


str = "hello hello df df df asd"
print(f(str))

{'asd': 1, 'df': 3, 'hello': 2}

Инвертирование словаря: Напишите функцию, которая принимает словарь и возвращает новый словарь, где ключи и значения поменяны местами. Если значения не уникальны, объедините ключи в список.

In [2]:
def replace(dic1):
    dic2 = {}
    for key, value in dic1.items():
        if value in dic2:
            dic2[value].append(key)
        else:
            dic2[value] = [key]

    for key, value in dic2.items():
        if len(value) == 1:
            dic2[key] = value[0]

    return dic2


dic1 = {"a":"aa", "b":"bb", "c":"cc", "d":"bb", "e":"bb"}
print(replace(dic1))

{'aa': 'a', 'bb': ['b', 'd', 'e'], 'cc': 'c'}

Слияние словарей: Напишите функцию, которая принимает два словаря и возвращает новый словарь, содержащий все ключи из обоих словарей. Если ключи совпадают, значения должны быть суммированы.

In [3]:
def merger(dic1, dic2):
    dic3 = dic1.copy()
    for key, value in dic2.items():
        if key in dic3:
            dic3[key] += value
        else:
            dic3[key] = value
    return dic3

dic1 = {"a":"aa", "c":"cc"}
dic2 = {"a":"bb", "d":"dd"}
print(merger(dic1, dic2))

{'a': 'aabb', 'c': 'cc', 'd': 'dd'}

Фильтрация по значению: Напишите функцию, которая принимает словарь и пороговое значение, и возвращает новый словарь, содержащий только те пары ключ-значение, где значение больше порогового.

In [4]:
def filtr(dict, a):
    dict2 = {}
    for key, value in dict.items():
        if(value > a):
            dict2[key] = value
    return dict2

dict = {"a":23, "b":1, "c": 5, "d":10}
a = 5
print(filtr(dict, a))

{'a': 23, 'd': 10}

Максимальное значение: Напишите функцию, которая находит ключ с максимальным значением в словаре.

In [5]:
def max_key(dict):
    m = max(dict.values())
    for key in dict:
        if dict[key] == m:
            return key

dict = {1:"a", 2:"s", 3:"d", 0:"f", 4:"g"}
print(max_key(dict))

2

Минимальное значение: Напишите функцию, которая находит ключ с минимальным значением в словаре.

In [6]:
def min_key(dict):
    m = min(dict.values())
    for key in dict:
        if dict[key] == m:
            return key

dict = {1:"a", 2:"s", 3:"d", 0:"f", 4:"g"}
print(min_key(dict))

1

Удаление ключей: Напишите функцию, которая принимает словарь и список ключей, и удаляет из словаря все указанные ключи.

In [7]:
def delet(dict, keys):
    for key in keys:
        if key in dict:
            del dict[key]
    return dict

dict = {"a":1, "b":2, "c":3, "d":4}
keys = ["b", "a"]
print(delet(dict, keys))

{'c': 3, 'd': 4}

Группировка по длине ключей: Напишите функцию, которая группирует ключи словаря по их длине и возвращает словарь, где ключи — это длины, а значения — списки ключей соответствующей длины.

In [8]:
def gr(dict):
    dict2 = {}
    for key in dict:
        l = len(key)
        if l in dict2:
            dict2[l].append(key)
        else:
            dict2[l] = [key]

    return dict2

dict = {"a":1, "b":2, "cc":3, "ddd":4}
print(gr(dict))

{1: ['a', 'b'], 2: ['cc'], 3: ['ddd']}

Поиск ключей по значению: Напишите функцию, которая принимает словарь и значение, и возвращает список всех ключей, связанных с этим значением.

In [9]:
def search(dict, val):
    keys = []
    for key in dict:
        if dict[key] == val:
            keys.append(key)
    return keys

dict = {"a":1, "b":2, "c":3, "aa":1, "bb":2, "aaa":1}
val = 1
print(search(dict, val))

['a', 'aa', 'aaa']

Уникальные значения: Напишите функцию, которая возвращает множество уникальных значений из словаря.

In [10]:
def s(dict):
    return set(dict.values())

dict = {"a":1, "b":2, "c":3, "aa":1, "bb":2, "aaa":1}
print(s(dict))

{1, 2, 3}

# Множества

Удаление элементов: Напишите функцию, которая удаляет из множества все элементы, присутствующие в списке.

In [18]:
def delet(set1, list1):
    for el in list1:
        if el in set1:
            set1.remove(el)
    return set1

set1 = {1, 2, 3, 4, 5}
list1 = [1, 3, 5]
print(delet(set1, list1))

{2, 4}

Элементы, встречающиеся только в одном множестве: Напишите функцию, которая находит элементы, которые есть только в одном из двух множеств.

In [9]:
def s(set1, set2):
    set3 = set()
    for el in set1:
        if el not in set2:
            set3.add(el)
    return set3

set1 = {1, 2, 3, 4, 5}
set2 = {2, 4, 6, 8}
print(s(set1, set2))

{1, 3, 5}

Общие элементы: Напишите функцию, которая находит общие элементы двух списков с помощью множеств.

In [10]:
def s(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    return set1.intersection(set2)

list1 = [1, 2, 3, 4, 5]
list2 = [2, 4, 6, 8]
print(s(list1, list2))

{2, 4}

Проверка на пустоту: Напишите функцию, которая проверяет, является ли множество пустым.

In [11]:
def isempty(set1):
    if len(set1) == 0:
        return True
    return False

set1 = {1, 2, 3, 4, 5}
set2 = set()
print(isempty(set1))
print(isempty(set2))

False
True

Количество уникальных элементов: Напишите функцию, которая возвращает количество уникальных элементов в списке с помощью множества.

In [12]:
def s(list):
    n = len(list)
    l = len(set(list))
    return l - (n - l)

list = [1, 2, 3, 4, 5, 2, 3]
print(s(list))

3

Максимальный элемент: Напишите функцию, которая находит максимальный элемент в множестве.

In [13]:
def s(set):
    return max(set)

set = {2, 6, 1, 4, 5}
print(s(set))

6

Минимальный элемент: Напишите функцию, которая находит минимальный элемент в множестве.

In [14]:
def s(set):
    return min(set)

set = {2, 6, 1, 4, 5}
print(s(set))

1

Сортировка множества: Напишите функцию, которая преобразует множество в отсортированный список.

In [15]:
def s(set):
    return sorted(set)

set = {2, 6, 1, 4, 5, -12, 98, 0}
print(s(set))

[-12, 0, 1, 2, 4, 5, 6, 98]

Объединение нескольких множеств: Напишите функцию, которая принимает список множеств и возвращает их объединение.

In [ ]:
def f(sett):
    nsett = set()
    for el in sett:
        nsett = nsett.union(el)
    return nsett

sett = [{1, 2}, {2, 3}, {3, 2}, {2, 5}]
print(f(sett))

Пересечение нескольких множеств: Напишите функцию, которая принимает список множеств и возвращает их пересечение.

In [17]:
def f(sett):
    nsett = sett[0]
    for el in sett[1:]:
        nsett &= el
    return nsett

sett = [{1, 2, 3}, {2, 3}, {3, 4}, {4, 5, 3}]
print(f(sett))

{3}

# Tuple

Вложенные кортежи: Напишите функцию, которая создает вложенный кортеж, где первый уровень — это буквы алфавита, а второй уровень — числа от 1 до 5.

In [1]:
def f():
    alph = 'abcdefghijklmnopqrstuvwxyz'
    num = tuple(range(1, 6))
    res = tuple((a, num) for a in alph)
    return res

tuple1 = f()
print(tuple1)

(('a', (1, 2, 3, 4, 5)), ('b', (1, 2, 3, 4, 5)), ('c', (1, 2, 3, 4, 5)), ('d', (1, 2, 3, 4, 5)), ('e', (1, 2, 3, 4, 5)), ('f', (1, 2, 3, 4, 5)), ('g', (1, 2, 3, 4, 5)), ('h', (1, 2, 3, 4, 5)), ('i', (1, 2, 3, 4, 5)), ('j', (1, 2, 3, 4, 5)), ('k', (1, 2, 3, 4, 5)), ('l', (1, 2, 3, 4, 5)), ('m', (1, 2, 3, 4, 5)), ('n', (1, 2, 3, 4, 5)), ('o', (1, 2, 3, 4, 5)), ('p', (1, 2, 3, 4, 5)), ('q', (1, 2, 3, 4, 5)), ('r', (1, 2, 3, 4, 5)), ('s', (1, 2, 3, 4, 5)), ('t', (1, 2, 3, 4, 5)), ('u', (1, 2, 3, 4, 5)), ('v', (1, 2, 3, 4, 5)), ('w', (1, 2, 3, 4, 5)), ('x', (1, 2, 3, 4, 5)), ('y', (1, 2, 3, 4, 5)), ('z', (1, 2, 3, 4, 5)))

Кортеж из двух списков: Напишите функцию, которая создает кортеж пар из двух списков одинаковой длины.

In [2]:
def f(list1, list2):
    res = []
    for i in range (len(list1)):
        res.append((list1[i], list2[i]))
    return tuple(res)

list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
print(f(list1, list2))

((1, 'a'), (2, 'b'), (3, 'c'))

Перевод кортежа в строку: Напишите функцию, которая преобразует кортеж строк в одну строку, объединяя их через пробел.

In [3]:
def f(t):
    res = t[0]
    for el in t[1:]:
        res += " " + el
    return res

t = ("a", "b", "c", "d", "e")
print(f(t))

a b c d e

Перевод строки в кортеж чисел: Напишите функцию, которая преобразует строку чисел, разделенных запятыми, в кортеж чисел.

In [4]:
def f(s):
    l = s.replace(" ", "").split(",")
    return tuple(map(int, l))

s = "1,2,3,4,5,6"
print(f(s))

(1, 2, 3, 4, 5, 6)

Кортеж с четными числами: Напишите функцию, которая создает кортеж, содержащий только четные числа из заданного диапазона.

In [5]:
def f(a, b):
    res = []
    for x in range(a, b+1):
        if x % 2 == 0:
            res.append(x)
    return tuple(res)

print(f(-9, 10))

(-8, -6, -4, -2, 0, 2, 4, 6, 8, 10)

Кортеж с нечетными числами: Напишите функцию, которая создает кортеж, содержащий только нечетные числа из заданного диапазона.

In [20]:
def f(a, b):
    res = []
    for x in range(a, b+1):
        if x % 2 != 0:
            res.append(x)
    return tuple(res)

print(f(-9, 10))

(-9, -7, -5, -3, -1, 1, 3, 5, 7, 9)

Кортеж с простыми числами: Напишите функцию, которая создает кортеж, содержащий только простые числа из заданного диапазона.

In [6]:
def isprime(n):
    if n < 0:
        n *= -1
    if n < 2:
       return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

def f(a, b):
    res = []
    for x in range(a, b+1):
        if isprime(x):
            res.append(x)
    return tuple(res)

print(f(-9, 10))

(-7, -5, -3, -2, 2, 3, 5, 7)

Максимальный элемент: Напишите функцию, которая находит максимальный элемент в кортеже.

In [7]:
def f(t):
    return max(t)

t = (1, 6, 9, 0, 13, 2)
print(f(t))

13

Объединение кортежей: Напишите функцию, которая принимает два кортежа и возвращает их объединение.

In [8]:
def f(tuple1, tuple2):
    return tuple(list(tuple1) + list(tuple2))

tuple1 = (1, 2, 3, 4, 5)
tuple2 = (6, 7, 8, 9)
print(f(tuple1, tuple2))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

Проверка на наличие элемента: Напишите функцию, которая проверяет, содержится ли заданный элемент в кортеже.

In [22]:
def f(t, x):
    if x in t:
        return True
    return False


t = (1, 2, 3, 4, 5)
print(f(t, 5))
print(f(t, 0))

True
False

# Массив

Дан целочисленный массив A размера 10. Вывести порядковый номер последнего из тех его элементов AK, которые удовлетворяют двойному неравенству A1 < AK < A10. Если таких элементов нет, то вывести 0.

In [24]:
import random

def f(arr):
    k = 0
    for i in range(10):
        if arr[0] < arr[i] < arr[9]:
            k = i + 1
    return k

arr = [random.randint(1, 20) for _ in range(10)]
print(arr)
print(f(arr))

[5, 2, 7, 16, 5, 9, 9, 8, 3, 19]
8

Дано число R и массив размера N. Найти два соседних элемента массива, сумма которых наиболее близка к числу R, и вывести эти элементы в порядке возрастания их индексов (определение наиболее близких чисел дано в задании Array40).

In [29]:
import random

def f(arr, r, n):
    if n < 2:
        return None
    mindiff = float("inf")
    pair = None
    for i in range(n-1):
        s = arr[i] + arr[i+1]
        diff = abs(s - r)
        if diff < mindiff:
            mindiff = diff
            pair = (arr[i], arr[i+1])
    return pair

r = int(input())
n = int(input())
arr = [random.randint(1, 20) for _ in range(n)]
print(arr)
print(f(arr, r, n))

10
5
[13, 7, 5, 6, 16]
(5, 6)

Дан целочисленный массив размера N. Удалить из массива все элементы, встречающиеся менее трех раз, и вывести размер полученного массива и его содержимое.

In [30]:
import random

def f(arr, n):
    newarr = []
    k = 0
    for el in arr:
        c = arr.count(el)
        if c >= 3:
            newarr.append(el)
    return newarr

n = int(input())
arr = [random.randint(1, 5) for _ in range(n)]
print(arr)
a = f(arr, n)
print(a, '\n', len(a))

10
[5, 3, 4, 3, 4, 2, 1, 1, 2, 3]
[3, 3, 3]
 3

Дана действительная квадратная матрица порядка n. Найти наибольшее из значений элементов, расположенных в заштрихованной части матрицы.

a) b) c) d)

![image.png]()

In [33]:
import random

def f(arr, n):
    a, b, c, d = 0, 0, 0, 0
    for i in range(n):
        for j in range(n):
            if (j >= i) & (arr[i][j] > a):
                a = arr[i][j]
            if (j <= i) & (arr[i][j] > b):
                b = arr[i][j]
            if (j + i <= n - 1) & (arr[i][j] > c):
                c = arr[i][j]
            if (j + i >= n - 1) & (arr[i][j] > d):
                d = arr[i][j]
    return a, b, c, d

n = int(input())
arr = [[random.randint(1, 20) for i in range(n)] for j in range(n)]
for i in range(n):
    print(arr[i])
print(f(arr, n))

4
[14, 16, 9, 8]
[10, 19, 14, 15]
[10, 15, 14, 7]
[15, 20, 12, 10]
(19, 20, 19, 20)