<a href="https://colab.research.google.com/github/Ya227/-python/blob/main/%D0%A0%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_%D1%81_%D0%B1%D0%B0%D0%B7%D0%B0%D0%BC%D0%B8_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. **Создание базы данных и таблиц**

Создайте базу данных library.db и таблицу books с полями:

*   id (PRIMARY KEY, AUTOINCREMENT),
*   title (TEXT, NOT NULL),
*   author (TEXT, NOT NULL),
*   year_published (INTEGER),
*   genre (TEXT).

In [ ]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()
create_table = '''
CREATE TABLE IF NOT EXISTS books (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    author TEXT NOT NULL,
    year_published INTEGER,
    genre TEXT
);
'''
cursor.execute(create_table)
connection.commit()
connection.close()

2. **Вставка данных**

Добавьте в таблицу books следующие записи:

* "The Great Gatsby", автор: F. Scott
Fitzgerald, год: 1925, жанр: Fiction.
* "1984", автор: George Orwell, год: 1949, жанр: Dystopian.
* "To Kill a Mockingbird", автор: Harper Lee, год: 1960, жанр: Classic

In [ ]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()
insert_query = '''
INSERT INTO books (title, author, year_published, genre)
VALUES (?, ?, ?, ?);
'''
books_data = [
    ('"The Great Gatsby"', 'F.Scott Fitzgerald', 1925, 'Fiction'),
    ('"1984"', 'George Orwell', 1949, 'Dystopian'),
    ('"To Kill a Mockingbird"', 'Harper Lee', 1960, 'Classic')
]
cursor.executemany(insert_query, books_data)
connection.commit()
connection.close()

3. **Выборка всех данных**

Напишите запрос, который выбирает все книги из таблицы books.

In [ ]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()
select_query = '''
SELECT *FROM books;
'''
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)
connection.close()

4. **Фильтрация данных**

Выберите все книги, опубликованные после 1950 года.

In [ ]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()
select_query = '''
SELECT *FROM books
WHERE year_published >= 1950
'''
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)
connection.close()

5. **Использование оператора LIKE**

Найдите все книги, название которых начинается с буквы "T".

In [ ]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()
select_query = '''
SELECT *FROM books
WHERE title LIKE ?
'''
search_pattern = '_T%'
cursor.execute(select_query, (search_pattern,))
rows = cursor.fetchall()
for row in rows:
    print(row)
connection.close()

6. **Сортировка данных**

Отсортируйте книги по году публикации в порядке возрастания.

In [ ]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()
select_query = '''
SELECT *FROM books
ORDER BY year_published ASC
'''
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)
connection.close()

7. **Ограничение количества строк**

Выберите первые две книги из таблицы books, отсортированные по названию.

In [ ]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()
select_query = '''
SELECT *FROM books
ORDER BY title ASC
LIMIT 2
'''
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)
connection.close()

8. **Агрегатные функции**

Подсчитайте общее количество книг в таблице books.

In [ ]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()
select_query = '''
SELECT COUNT(*) FROM books
'''
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(row)
connection.close()

9. **Группировка данных**

Подсчитайте количество книг для каждого жанра.

In [ ]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()
select_query = '''
SELECT genre, COUNT(*) AS count FROM books GROUP BY genre
'''
cursor.execute(select_query)
rows = cursor.fetchall()
for row in rows:
    print(f"Жанр: {row[0]}, Количество: {row[1]}")
connection.close()

10. **Обновление данных**

Обновите год публикации книги "1984" на 1948.

In [ ]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()
update_quary = '''
UPDATE books
SET year_published = 1948
WHERE title = '1984'
'''
cursor.execute(update_quary)
connection.commit()
connection.close()

11. **Удаление данных**

Удалите книгу с названием "The Great Gatsby".

In [ ]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()
delete_quary = '''
DELETE FROM books
WHERE title = 'The Great Gatsby'
'''
cursor.execute(delete_quary)
connection.commit()
connection.close()

12. **Создание индекса**

Создайте индекс для столбца author в таблице books.

In [ ]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()
index_quary = '''
CREATE INDEX books_author
ON books (author)
'''
cursor.execute(index_quary)
connection.commit()
connection.close()

13. **Проверка существования индекса**

Проверьте, существует ли индекс для столбца author.

In [ ]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()
index_quary = '''
SELECT name FROM sqlite_master
WHERE type='index' AND name='books_author'
'''
cursor.execute(index_quary)
res = cursor.fetchone()
if res:
    print("Индекс существует")
else:
    print("Индекс не существует")
connection.close()

14. **Триггер для логирования**

Создайте триггер, который записывает изменения в таблицу logs при добавлении новой книги.

In [ ]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()
new_quary = '''
CREATE TABLE IF NOT EXISTS logs (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    book_id INTEGER,
    action TEXT,
    timestamp DATETIME DEFAULT CURRENT_TIMESTAMP
)
'''
trigger_quary = '''
CREATE TRIGGER IF NOT EXISTS books_log
AFTER INSERT ON books
FOR EACH ROW
BEGIN
    INSERT INTO logs (book_id, action)
    VALUES (NEW.id, 'INSERT');
END;
'''
cursor.execute(new_quary)
cursor.execute(trigger_quary)
connection.commit()
connection.close()

15. **Транзакции**

Создайте программу, которая выполняет следующие действия в рамках одной транзакции:
*   Добавляет новую книгу.
*   Обновляет год публикации другой книги.
*   Отменяет изменения, если возникает ошибка.

In [ ]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()

try:
    cursor.execute('BEGIN TRANSACTION')

    cursor.execute('''
    INSERT INTO books (title, author, year_published, genre)
    VALUES (?, ?, ?, ?)
    ''', ('The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Fiction'))

    cursor.execute('''
    UPDATE books
    SET year_published = 1949
    WHERE title = '1984';
    ''')

    connection.commit()
    print('Good')
except Exception as e:
    connection.rollback()
    print('No good', e)
finally:
    connection.close()

16. **Пользовательская функция**

Создайте пользовательскую функцию на Python, которая вычисляет возраст книги (текущий год минус год публикации), и используйте её в SQL-запросе.

In [ ]:
import sqlite3

def calculate_age(old_year):
    from datetime import datetime
    now_year = datetime.now().year
    return now_year - old_year

connection = sqlite3.connect('library.db')
cursor = connection.cursor()
connection.create_function("calculate_age", 1, calculate_age)
cursor.execute('''
SELECT title, calculate_age(year_published) AS year_published FROM books
''')
rows = cursor.fetchall()
for row in rows:
    print(row)
connection.close()

17. **Представления**

Создайте представление modern_books, которое содержит книги, опубликованные после 1950 года.

In [ ]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()
cursor.execute('''
CREATE VIEW IF NOT EXISTS after_1950
AS SELECT *FROM books
WHERE year_published > 1950
''')
cursor.execute('SELECT * FROM after_1950')
rows = cursor.fetchall()
for row in rows:
    print(row)
connection.close()

19. **Композитный индекс**

Создайте композитный индекс для столбцов author и year_published в таблице books.

In [ ]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()
index_query = '''
CREATE INDEX IF NOT EXISTS idx_author_year
ON books(author, year_published)
'''
cursor.execute(index_query)
connection.commit()
connection.close()

18. **Удаление таблицы**

Удалите таблицу books и проверьте её существование.

In [ ]:
import sqlite3

connection = sqlite3.connect('library.db')
cursor = connection.cursor()
del_query = '''
DROP TABLE IF EXISTS books
'''
cursor.execute(del_query)
connection.commit()
cursor.execute('''
SELECT name FROM sqlite_master WHERE type='table' AND name='books'
''')
res = cursor.fetchone()
if res:
    print("Таблица есть")
else:
    print("Таблицы нет")
connection.close()

20. **Удаление базы данных**

Напишите программу, которая удаляет файл базы данных library.db, если он существует.

In [ ]:
import os

file = 'library.db'
if os.path.exists(file):
    print("Удаляем базу данных")
    os.remove(file)
else:
    print("Базы данных нет")